# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environments
# =========================
venv/
venv312/
.env

# =========================
# Data (DO NOT COMMIT)
# =========================
data/
*.dcm
*.nii
*.nii.gz
*.zip

# =========================
# Model artifacts
# =========================
*.pth
*.ckpt
*.h5
logs/
outputs/

# =========================
# Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Editors / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db