# Ignore everything inside data
data/*

# But keep Python source files
!data/*.py
!data/**/*.py

# Ignore medical images
data/**/*.dcm
data/**/*.nii
data/**/*.nii.gz

# Ignore environments and cache
myvenv/
venv/
__pycache__/
*.pyc